In [1]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

#or

num =input("Enter an integrr : ")
print(num[::-1])

Reversed Number: 4321
Enter an integrr : 21854
45812

In [2]:
num = int(input("Enter a number: "))

sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 022
22 is not an Armstrong number

In [3]:
num = int(input("Enter a number: "))
a=0

if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            a+=1
            break

if a==1:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

Enter a number: 151
151 is a prime number

In [4]:
first,second=0,1
n = int(input("please give a number for fibonacci series : "))
print("fibonacci series are : ")
for i in range(0,n):
    if i<=1:
        result=i
    else:
      result = first + second;
      first = second;
      second = result;
    print(result)

please give a number for fibonacci series : 22
fibonacci series are :
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946

In [5]:
n = int(input("please give a number : "))
reverse = 0
temp=n
while temp!=0:
    reverse = reverse*10 + temp%10;        
    temp=temp//10;
if reverse==n:
    print(n,"number is palindrome")
else:
    print(n,"number is not palindrome")

please give a number : 255
255 number is not palindrome

In [6]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

Enter first number: 152
Enter second number: 33
Enter third number: 02
The largest number is 152

In [7]:
num = int(input("please give a number : "))
while(num>0):
    j=num%10
    if j!=0 and j!=1:
        print("num is not binary")
        break
    num=num//10
    if num==0:
        print("num is binary")

please give a number : 2
num is not binary

In [8]:
n=int(input("Enter a number:"))
sum=0
while(n>0):
    dig=n%10
    sum=sum+dig
    n=n//10
print("The total sum of digits is:",sum)

Enter a number:5565
The total sum of digits is: 21

In [9]:
x = int(input("Enter integer x: "))
y = int(input("Enter integer y: "))
x, y = y, x
print("x =", x)
print("y =", y)

Enter integer x: 2
Enter integer y: 3
x = 3
y = 2

In [10]:
a = int(input("please give first number a: "))
b = int(input("please give second number b: "))
c_thirdvar=a
a=b
b= c_thirdvar
print("After swapping")
print("value of a is : ", a);
print("value of b is : ", b);

please give first number a: 5
please give second number b: 6
After swapping
value of a is :  6
value of b is :  5

In [11]:
num1 = 10
num2 = 20

avg = (num1 + num2) / 2
print('The average of numbers = %0.2f' %avg)

The average of numbers = 15.00

In [12]:
num=int(input( "Enter any integer: "))
factorial = 1
for i in range(1,num + 1):
  factorial = factorial*i
print("Factorial of",num,"is",factorial)

Enter any integer: 2
Factorial of 2 is 2

In [13]:
num = 3
factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 3 is 6

In [14]:
ip = int(input( "Enter any number: "))
if ip %2 == 0:
  print("even")
else:
  print("odd")

Enter any number: 254
even

In [15]:
num=int(input("Enter range:"))
print("Prime numbers:",end=' ')
for n in range(1,num):
    for i in range(2,n):
        if(n%i==0):
            break
    else:
        print(n,end=' ')

Enter range:6
Prime numbers: 1 2 3 5

In [28]:
first_no = int(input("Enter any number : "))
last_no= int(input("Enter any number : "))
for n in range(first_no,last_no + 1):
   if n > 1:
       for i in range(2,n):
           if (n % i) == 0:
               break
       else:
           print(n)

Enter any number : 34
Enter any number : 45
37
41
43

In [17]:
num1=int(input("Enter the first number: ")) 
num2=int(input("Enter the second number: "))
num3=int(input("Enter the third number: "))
if(num1<=num2 and num1<=num3):   
  print(num1," is the smallest")
elif(num2<=num1 and num2<=num3):
  print(num2," is the smallest")
else:
    print(num3," is the smallest")

Enter the first number: 55
Enter the second number: 45
Enter the third number: 2
2  is the smallest

In [18]:
import math
inp = int(input("Enter any no: "))
power = int(input("Enter power"))
calc = math.pow(inp,power)
print(calc)

Enter any no: 25
Enter power3
15625.0

In [19]:
import math
inp = int(input("Enter any number: "))
sq = math.pow(inp , 2)
print("Square of" , inp , "=" , sq)

Enter any number: 5
Square of 5 = 25.0

In [20]:
import math
inp = int(input("Enter any number: "))
no_cube = math.pow(inp , 3)
print("Cube of" , inp , "=" , no_cube)

Enter any number: 3
Cube of 3 = 27.0

In [21]:
import math
inp = int(input("Enter any number: "))
no_sq = math.sqrt(inp)
print("Square of" , inp , "=" , no_sq)

Enter any number: 54
Square of 54 = 7.3484692283495345

In [23]:
number = int(input("Enter any decimal number: "))
print("Equivalent Binary Number: ", bin(number))

Enter any decimal number: 10
Equivalent Binary Number:  0b1010

In [24]:
def DecimalOctal(num):
    octal, i = 0, 1

    while (num != 0):
        rem = num % 8  
        octal += rem * i
        i = i*10
        num //= 8
     
    print(octal)
num = int(input('Enter a decimal number: '))
print('Octal value: ', end='')
DecimalOctal(num)

Enter a decimal number: 15
Octal value: 17

In [25]:
print("Enter the Year: ")
ip = int(input())

if ip %4==0 and y%100!=0:
    print("\nIt is a Leap Year")
elif ip %400==0:
    print("\nIt is a Leap Year")
else:
    print("\nIt is not a Leap Year")

Enter the Year:
20212

It is a Leap Year

In [26]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 25
25.00 Celsius is: 77.00 Fahrenheit

In [27]:
fahrenheit = float(input("Enter temperature in fahrenheit: "))
celsius = (fahrenheit - 32) * 5/9
print('%.2f Fahrenheit is: %0.2f Celsius' %(fahrenheit, celsius))

Enter temperature in fahrenheit: 30
30.00 Fahrenheit is: -1.11 Celsius