In [1]:
lst = []
lst2 = []
for i in range (4):
     val=int(input("Enter an integer : "))
     lst.append(val)
print("Original List : ",lst)
for i in lst:
    if i%2!=0:
        a=i
        lst2.append(a)
print("Odd values in a list : ",lst2)

Enter an integer : 45
Enter an integer : 6
Enter an integer : 156
Enter an integer : 89
Original List :  [45, 6, 156, 89]
Odd values in a list :  [45, 89]

In [2]:
total_element=0
lst = []
for i in range (4):
     val=int(input("Enter an integer : "))
     lst.append(val)
total_elements = sum(lst)
print("Sum of all elements in given list: ", total_elements)

Enter an integer : 21
Enter an integer : 12
Enter an integer : 54
Enter an integer : 87
Sum of all elements in given list:  174

In [3]:
lst = []
for i in range (4):
     val=int(input("Enter an integer : "))
     lst.append(val)
print("Original List : ",lst)
lst.reverse()
print("Reversed List : ",lst)
lst=lst[::-1]
print("Again Reversed List : ",lst)

Enter an integer : 1
Enter an integer : 2
Enter an integer : 3
Enter an integer : 4
Original List :  [1, 2, 3, 4]
Reversed List :  [4, 3, 2, 1]
Again Reversed List :  [1, 2, 3, 4]

In [4]:
lst = []
for i in range (5):
     val=int(input("Enter an integer : "))
     lst.append(val)
print("List : ",lst)
lst.sort()
print("The top two maximum numbers in a List : ",lst[-1],"and",lst[-2])

Enter an integer : 54
Enter an integer : 88
Enter an integer : 65
Enter an integer : 27
Enter an integer : 42
List :  [54, 88, 65, 27, 42]
The top two maximum numbers in a List :  88 and 65

In [5]:
lst = []
for i in range (5):
     val=int(input("Enter an integer : "))
     lst.append(val)
print(lst)
lst.sort()
print("Second Highest Number in a List : ",lst[-2])

Enter an integer : 98
Enter an integer : 145
Enter an integer : 331
Enter an integer : 17
Enter an integer : 63
[98, 145, 331, 17, 63]
Second Highest Number in a List :  145

In [6]:
lst = []
for i in range (4):
     val=(input("Enter any character : "))
     lst.append(val)
lst.sort(reverse=True)
print("Characters In Descending Orders : ",lst)

Enter any character : a
Enter any character : b
Enter any character : c
Enter any character : d
Characters In Descending Orders :  ['d', 'c', 'b', 'a']

In [7]:
str = input("Enter Your Name : ")
lst = []
for i in range(len(str)):
    lst.append(str[i])
lst2 = []
j = 0
for i in range(len(lst)):
    if str[i] not in lst2:
        lst2.insert(j, str[i])
        j = j+1
print("Original Name : ", str)
str = ""
str = str.join(lst2)
print("After Removing Repeated Characters : ", str)

Enter Your Name : Muhammad Ahmed Khan
Original Name :  Muhammad Ahmed Khan
After Removing Repeated Characters :  Muhamd AeKn

In [8]:
char = input("Enter a Character : ")
if char in ('a', 'e', 'i', 'o', 'u'):
    print(char," is a vowel.")
else:
    print(char," is a consonant.")

Enter a Character : e
e  is a vowel.

In [9]:
num = int(input("Enter a number: "))
fact = 1

if num < 0:
   print("Factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       fact=fact*i
   print("The factorial of",num,"is",fact)

Enter a number: 5
The factorial of 5 is 120

In [10]:
lst1 = []
for i in range (5):
     val=int(input("Enter an integer : "))
     lst1.append(val)
lst2 = []
for i in range (5):
     val=int(input("Enter an integer : "))
     lst2.append(val)
print("List 1 : ",lst1)
print("List 2: ",lst2)

for i in lst2 :
    lst1.append(i)
print ("After Merging : " ,lst1)

Enter an integer : 1
Enter an integer : 2
Enter an integer : 3
Enter an integer : 4
Enter an integer : 5
Enter an integer : 6
Enter an integer : 7
Enter an integer : 8
Enter an integer : 9
Enter an integer : 10
List 1 :  [1, 2, 3, 4, 5]
List 2:  [6, 7, 8, 9, 10]
After Merging :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]